.error{
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-background-radius: 6px;
    -fx-font-weight:bold;
    -fx-padding: 4px 0 6px 2px
}

.content{
    -fx-font-family: Monaco, Ubuntu;
    -fx-background-color: #eee
}
.table-view .table-cell{
    -fx-font-family: Monaco, Ubuntu;
    -fx-background-color: #eee
}
.table-view .column-header {
    -fx-background-color: grey;
}
.table-view .head{
    -fx-background-radius: 6px 6px 0 0;
   
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}
.warning{
    -fx-text-fill: white;
    -fx-background-color: #f0ad4e;
    -fx-background-radius: 6px;
    -fx-font-weight:bold;
    -fx-padding: 4px 0 6px 2px;

}
#edit{
    -fx-background-color:#f0ad4e;
}
.action{
    -fx-padding: 4px 16px 4px 16px;
    -fx-background-radius: 6px;
    -fx-background-color: #eee;
    -fx-cursor: pointer;
    -fx-cursor: hand;
    -fx-font-family: Arial
}

#remove{
    -fx-background-color: red;
    -fx-text-fill: white;
}
#titleHeader{
    -fx-font-size: 2em;
    -fx-font-weight: bold
}
#addBtn:hover{
    background-color: #cfd8dc;
}
#addBtn{
    -fx-padding: 5px 4px 10px 4px;
    -fx-background-radius: 4px;
    -fx-background-color: #00cc00;
    -fx-text-fill: white;
    -fx-cursor: pointer;
    -fx-cursor: hand;
    -fx-font-family: Arial;
    -fx-font-size: 1.2em;
}